
.header{
    width: 550px;
    height: 285px;
    display: flex;
    flex-direction: column;
    background: #6943FF;
    align-items: center;

}
h1{
    
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 800;
    line-height: 38px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #FFFFFF;
    margin: 33px 50.6px 33px 51px
}
input{
    font-family: "Inter", sans-serif;
    width: 117px;
    height: 83px;
    border-radius: 5px;
    border: 2px solid #B295FF;
    background: #6943FF;
    font-size: 58px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin: 0px 216px 25px 217px
}
button {
    font-family: "Inter", sans-serif;
    width: 117px;
    height: 42px;
    padding: 9px 27.5px 9px 27.5px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #3D3D3D;
    box-shadow: 0px 1px 2px 0px #0000000D;
    background: #FFFFFF;
    margin : 26,77 216px 34px 217px;
    

}
.main{
    width: 550px;
    height: 444px;
    display: flex;
    flex-direction: column;
    background: #1F2937;
    
}

h3{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color :#CCC1FF
}
h4{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color:#FFFFFF

}

#length{
    width: 500px;
    height: 108.57px;
    border-radius: 4.68px, 0px, 0px, 0px;
    background : #273549;
    gap: 18.72px;
    margin: 36px 25px 23.43px 25px;
    padding: 31px 77px 18,77 77px;
    
}
#volume{
    width: 500px;
    height: 108.57px;
    border-radius: 4.68px, 0px, 0px, 0px;
    background : #273549;
    gap: 18.72px;
    margin: 0px 25px;
}
#mass{
    width: 500px;
    height: 108.57px;
    border-radius: 4.68px, 0px, 0px, 0px;
    background : #273549;
    gap: 18.72px;
    margin: 23.43px 25px 35.43px 25px
}


